.topnav {
    width: 100%;
    height: 12vh;
    top:0;
    left:0;
    background-color:rgb(23, 13, 70);
    overflow: hidden;
    z-index: 3;
}

.topnav .position {
    position: relative;
    width: 100%;
    height: 100%;
    top:40%;
    lefT:0;
}

.list a {
    color: white;
    position:relative;
    left:40%;
    margin-top:0;
    text-decoration: none;
    font-size: 2.8vh;
    transition: 0.5s;
    margin-left:4%;
    transition:0.5s;

}

.topnav .list a:hover {
    border-bottom: 1px solid white;
}

.homeimg img {
    position:absolute;
    margin-left:4%;
    margin-top:1%;
    z-index:4;
}

.dotcounter {
    position: absolute;
    top: 3%;
    right: 0;
    margin-right:3.2%;
    background-color: red;
    color:white;
    border-radius:50%;
    width:1.5%;
    height:3%;
    text-align: center;
    align-items: center;
    z-index: 5;
    font-size: 1.8vh;
    border: solid 2px black;
}

.dotcounter p {
    z-index:6;
}

.shopimg img {
    position:absolute;
    right:0;
    margin-right:4%;
    top:4%;
    z-index:4;
    filter:invert();
}

.shopimg img:hover {
    transform: rotate(10deg);
}

/************** BARRA DI RICERCA ***************/

.cover {
    position: absolute;
    background-color: white;
    height: 45%;
    width: 15%;
    left: 18%;
    top: -10%;
    border-radius: 5px;
}

.cover input {
    position: absolute;
    top: 11%;
    border: none;
    height: 80%;
    width:90%;
    left: 3%;
    background-color: white;
}

.cover input::placeholder {
    font-size: 1.5vh;
}

.cover input:focus {
    outline: none;
}

.ok {
    position: absolute;
    background-color: rgb(51, 28, 156);
    border: none;
    left:98%;
    height:100%;
    width: 25%;
    transition: 0.4s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ok img {
    position: relative;
    height: 60%;
    width: 40%;
    right: 5%;
}

.ok:hover {
    background-color: rgb(30, 9, 122);
}