* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(23, 13, 70);
  background-image: url("../img/background3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* max-width: 100%; */
  height: 200%;
}
/* start profile card */
#user_img{ /* my image-style */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* .card h1{ // my h-style 
  color: black;
} */
.card h2{ /* my h-style */
  /* color: black;   */
  text-align: center;
  margin: 2%;
}
/* .card p{ // my p-style 
  color: grey;
} */
.card {
    background-color: rgb(23, 13, 70);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 4px;
    border-radius: 5%;
    color: white;
    display: inline-block;  /* <-- */
    left: 2%;
    /* float: left; */
    max-width: 300px;
    margin: 1%;
    position: absolute;
    top: 15%;
    text-align: center;
    font-family: arial;
}
  
.title {
  /* color: grey; */
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  /* padding: 4px; */
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

.card button:hover{
  opacity: 0.7;
}
/* end profile card */

#info{
  background-color: rgb(23, 13, 70, 0.8);
  border-radius: 5%;
  color: white;
  display: inline-block;
  /* opacity: 0.85; */
  /* padding: 95px; */
  position: absolute;
  top: 15%;
  right: 2%;
  width: 70%;
  height: 110%;
}

#info a {
  background-color: rgb(40, 24, 119);
  color: white;
  cursor: pointer;
  float: left;
  font-size: medium;
  display: inline;
  padding: 1% 10.7%;
  text-align: center;
  text-decoration: none;
}
#info a:hover {
  background-color: white;
  color: black;
}

#menu{
  display: flex;
  width: 97.5%;
}

#anteprima{
  display: block; 
}
#viaggi{
  display: none;
  text-align: center;
}
#edit{
  color: white;
  display: none;
  margin-top: 2%;
  text-align: center;
}


.info input[type=submit]{
	background-color: rgb(40, 24, 119);
  border: 0;
  border-radius: 20px;
  color: white;
  cursor: pointer;
	padding: 20px 60px;
}
.info input[type=submit]:hover{
  background-color: white;
  color: black;
}
.info input[type=text], input[type=email], input[type=password]{
	/* border: 0; */
  width:30%;
	border-radius: 20px;
  margin-bottom: 2%;
  padding: 20px 60px;
}
.info input[type=checkbox]{
  margin-bottom: 2%;
}
#info button{
  background-color: rgb(40, 24, 119);
  border: 0;
  border-radius: 20px;
  color: white;
  cursor: pointer;
	padding: 20px 60px;
}

#logout{
  display: none;
  text-align: center;
}

/* css per orders.php */
.profile_products {
  position: absolute;
  width:100%;
  height:100%;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_divisor {
  position:relative;
  width:9%;
}


.profile_card {
  float: left;
  position:relative;
  width: 20%;
  height: 60%;
  border-radius: 3vh;
  background-color: white;
  box-shadow: 0 2px 2px 0 black;
  border: 2px solid black;
  z-index: 3;
  transition: 1s ease;
  overflow: hidden;
}

.profile_card:hover {
  transform: scale(1.1);
}


.profile_card img {
  position:relative;
  top:0;
  left:0;
  object-fit: cover;
  width: 100%;
  height:45%;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.profile_card p {
  position:absolute;
  color: black;
  font-size: 2vh;
  top:50%;
  width:90%;
  margin-left: 2%;
  text-align:center;
  z-index:4;
}


.profile_card button {
  width:50%;
  height:10%;
  position:absolute;
  bottom:7%;
  left:24%;
  border-radius: 10vh;
  background-color: rgb(156, 56, 56);
  color:white;
  font-size: 2vh;
  border:0;
  box-shadow: 0 2px 2px 0 black;
  transition: 0.5s ease;
}

.profile_card button:hover {
  background-color: rgb(201, 57, 57);  
}