* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    height: 200%;
    background-color: rgb(23, 13, 70);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bigimg {
    width:100%;
    height:70%;
    z-index:0;
    object-fit: cover;
    position:absolute;
    filter:blur(2px);
}

.description {
    position:absolute;
    top:22%;
    left:10%;
    z-index:1;
    color:white;
    text-shadow: 1px 1px black;
    font-size: 4vh;
}


.products {
    position: absolute;
    width:100%;
    height:100%;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisor {
    position:relative;
    width:9%;
}


.card {
    float: left;
    position:relative;
    width: 20%;
    height: 60%;
    border-radius: 3vh;
    background-color: white;
    box-shadow: 0 2px 2px 0 black;
    border: 2px solid black;
    z-index: 3;
    transition: 1s ease;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
}


.card img {
    position:relative;
    top:0;
    left:0;
    object-fit: cover;
    width: 100%;
    height:45%;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.card p {
    position:absolute;
    color: black;
    font-size: 2vh;
    top:50%;
    width:90%;
    margin-left: 2%;
    text-align:center;
    z-index:4;
}


.card button {
    width:50%;
    height:10%;
    position:absolute;
    bottom:7%;
    left:24%;
    border-radius: 10vh;
    background-color: rgb(156, 56, 56);
    color:white;
    font-size: 2vh;
    border:0;
    box-shadow: 0 2px 2px 0 black;
    transition: 0.5s ease;
}

.card button:hover {
    background-color: rgb(201, 57, 57);  
}